h1{ color: whitesmoke;
}
#display{
    padding-right:150px;
    background-color:white;
    color:black;
    padding-bottom: 50px ;
    box-shadow: 6px 6px 6px yellow;
    margin:20px;
    font-size: 80px;
}
body{
    background-image:url('beach.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    color:black;
    background-color: white;
    padding:50px ;
    margin:20px;
    box-shadow: 5px 5px 5px red;
    font-size:70px;
    border-radius:50%;
}
